<div *ngFor="let item of (profile?profile:null)">
    <div >
        <h2>Displaying personal Info</h2>
        <p> Personal ID: {{item?.pid}}</p>
        <p> Name : {{item?.full_name}}</p>
        <p> email : {{item?.email}}</p>
        <p> Current Designation : {{item?.current_designation}}</p>
        <p> Company : {{item?.organization}}</p>
        <p> Short Intro : {{item?.short_intro }}</p>
        <p> user id : {{item?.user_id }}</p>


    </div>

     <div  *ngIf="item?.profile_pic; else ElseBlock">
        Pic Displayed.
        <!-- Pic needs to be inserted!!  -->
    </div>
    </div>

    <ng-template #ElseBlock>
        <img src="../../assets/pic.jpg"  width="200" height="200">
    </ng-template>

    <app-reactive-form></app-reactive-form>
