<br>
<br>
<br>
<div class="row">
  <div class="col-sm-9 border-right-0">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card text-center bg-dark text-white">
    <h1 class="card-title" style="font-family: cursive; font-weight: lighter; font-style: italic;">"Hi this is Pragati Agarwal. Working as a full stack developer with top leading organization. Front end, back end excite me!"</h1>
  </div>
  </div>
  <img class="card-img-right" src="../../../assets/FrontPic.jpg">
</div>
