@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
#grad1{
    background: rgba(207, 128, 177, 0.623);
    background: radial-gradient(circle, rgba(106, 109, 100, 0.699) 0%, rgba(252, 251, 251, 0.623) 100%);

}
img {
    border-radius: 50%;
    vertical-align: middle;

  }
